# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
.DS_Store

# API Keys
Config.swift

# Build
build/
*.ipa
*.app
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
